# 复制本文件为同目录下的 jdbc.properties，并填入你自己的数据库信息
jdbc.driver=com.mysql.cj.jdbc.Driver
jdbc.url=jdbc:mysql://localhost:3306/equipment_ssm?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
jdbc.username=root
jdbc.password=请填写你的数据库密码
jdbc.maxActive=20
jdbc.initialSize=10
